/* Reset some default browser styles */
body, h1, h2, h3, p, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #444a94;
}

header {
    text-align: center;
    background-color: #0a0a0a;
    color: #fff;
    padding: 20px;
}

.produto {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.produto h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.produto p {
    margin: 10px 0;
}

.produto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
    .produto {
        width: 90%;
        margin: 10px auto;
    }
}

